<h1 mat-dialog-title>Create message:</h1>

<div mat-dialog-content class="mat-typography">

  <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Author</mat-label>
      <input name="author" matInput ngModel/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <textarea
        name="message"
        ngModel
        required
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Image</mat-label>
      <app-file-input name="image" ngModel></app-file-input>
    </mat-form-field>
    <div>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="f.invalid"
      >SAVE</button>
    </div>
  </form>
</div>
<mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="onClose()">
    Cancel
  </button>
</mat-dialog-actions>

