<mat-card class="card" *ngFor="let message of messages" >
  <mat-card-title-group >
  <mat-card-title>{{ message.author | author }}</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <img *ngIf="message.image"
      [src]="message.image | image"
      [alt]="message.author | author"
      mat-card-md-image/>
    <p class="title"><strong> Message:</strong> {{ message.message }}</p>
  </mat-card-content>
</mat-card>






