.mat-card-image
  width: 25%
  margin-right: 10px
.card
  max-width: 500px
  margin-bottom: 8px
  background-color: lightgray
.mat-card-content
  display: flex
.title
  margin-left: 20px
  font-size: 16px

